.skip-link {
	background: var(--c-black);
	color: var(--c-white);
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	display: block;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	&:focus {
		height: auto;
		padding: .5rem 1rem;
		position: static;
		width: 100%;
	}

}
